@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-bg: #0B0B0C;
  --c-paper: #F5F1EA;
  --c-gold: #C7A56A;
}

body {
  background-color: var(--c-bg);
  color: var(--c-paper);
  /* جلوگیری از پرش اسکرول و رفتار نرم */
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* استایل اسکرول بار (لوکس و مینیمال) */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--c-bg);
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-gold);
}

::selection {
  background: var(--c-gold);
  color: var(--c-bg);
}